<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Animation: Rotate</title>
  <link rel="stylesheet" href="/static/css/partials.min.css">

<style contenteditable class="editor">@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
.cf-icon:hover {
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}</style>

</head>

<body class="example">

  <span class="cf-icon cf-icon-update"></span>

</body>
</html>
