<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Transition Shorthand</title>
  <link rel="stylesheet" href="/static/css/partials.min.css">

<style contenteditable class="editor">.animated {
  transition: background 0.5s, color 0.5s, transform 0.5s;
}
.animated:active {
  transform: scale(0.95);
}</style>

</head>

<body class="example">

  <ul class="list list_clean">
    <li style="margin-bottom: 10px;"><a class="btn">Static Button</a></li>
    <li><a class="btn animated">Animated Button</a></li>
  </ul>

</body>
</html>

