<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Transition Shorthand</title>
  <link rel="stylesheet" href="/static/css/partials.min.css">

<style contenteditable class="editor">.list {
  transition: height 0.25s ease-in;
  height: 1.4em;
  overflow: hidden;
  background: #eee;
  border: 1px solid #ddd;
  padding: 5px 10px;
}

.list:hover {
  height: auto;
}</style>

</head>

<body class="example">

  <ul class="list
             list_clean">
      <li class="dropdown_item">
          Dropdown item 1
      </li>
      <li class="dropdown_item">
          Dropdown item 2
      </li>
      <li class="dropdown_item">
          Dropdown item 3
      </li>
      <li class="dropdown_item">
          Dropdown item 4
      </li>
  </ul>

</body>
</html>
